.header-contain {
    width: 100%;
    height: 20vh;
    background-color: grey;
    border: 1px solid black;
}
.main-contain {
    background-color: white;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 1px 0px 1px 0px;
}
.sidebar-filter {
    position:sticky;
    top: 1px;
    background-color: blue;
    width: 20%;
    height: 30vh;
    border: 1px solid black;
}
.section-principal {
    background-color: brown;
    width: 80%;
    height: auto;
    border: 1px solid black;
}
.cards-prof {
    background-color: blueviolet;
    width: 15rem;
    height: 15rem;
    border: 1px solid black;
    margin: 2px;
    box-shadow: 0 0 3px #035397;
    border-radius: 20px;
}
.footer-contain {
    width: 100%;
    height: 20vh;
    background-color: grey;
    border: 1px solid black;
}