.listaDeProf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction:column;
    justify-content: space-between; 
    width: 75%;
    height: 50vh;
    border:  1px solid black;
    padding:10px;
    border-radius: 10px;
}
.info-profile {
    display: flex;
    flex-direction: row;
}

.info-profile div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:grey;
    margin-right: 25px;
}

.service-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.service-profile span{
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.card p {
    text-align: justify;
    align-self: flex-end;
}