@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;
}

.meu-form {
    background-color: white;
    box-shadow: 0 0 7px #035397;
    border-radius: 35px;
    background-color: white;
    height: auto;
}

.meu-form h4 {
    font-weight: 600;
    color: #E8630A;
}

.meu-form h6 {
    font-weight: 600;
    color: #E8630A;
}

.main-historic {
    background-image: url('/img/historicServices.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.not-service-contain {
    height: 100vh;
}

input[type='file'] {
    opacity:0;  
}

.avatar {
    background-color: #035397;
    width: fit-content;
}
