@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;
}

.main-home {
    background-image: url('/img/imagemLogin.svg');
    background-size: 17%;
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-right: 50px;
    margin-bottom: 25px;
}

.meu-form {
    background-color: white;
    box-shadow: 0 0 7px #035397;
    border-radius: 35px;
    background-color: white;
    height: auto;
    height: max-content;
}

.meu-form h4 {
    font-weight: 600;
    color: #E8630A;
}

.meu-form h6 {
    font-weight: 600;
    color: #E8630A;
}

.avatar {
    display: flex;
    align-items: flex-end;
}

.avatarImg {
    margin-left: 1rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    padding: 1rem;
}
