@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EEEEEE;

}

.home {
    height: 100vh;
}
    
.form-control {
    background-color: #EEEEEE;
}

.container-fluid h1 {
    color: #F66B0E;
    font-weight: 800;
    font-size: 1.5rem;
}
.container-fluid p {
    color: #205375;
    font-weight: 800;
    font-size: 1rem;
}

.container-fluid{
    width: 100%;
}

.form-control-checkbox{
    border: none;
}

.checkbox div label{
    margin-right: 0.5rem;
}

.img-prestador img {
    margin: 2rem;
    border-radius: 2rem;
}

.card-carousel{
    display: flex;
    width: 20rem;
    height: 25rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}



.card-body h5 {
    color: #F66B0E;
    font-weight: 800;
}

@media (min-width: 320px) and (max-width: 767px) {
    .img-prestador {
        display: none
    }
    .container-fluid h1 {
        font-size: 1rem;
        margin-top: 3rem;
    }
}