<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %> 
    <main>
        <form action="">
            <input type="text" class="barraBuscar" placeholder="Faça sua busca aqui!" name="barraBuscar">
            <input type="checkbox" class="barraBuscar" name="barraBuscar" value="Eletricista">
            <input type="checkbox" class="barraBuscar" name="barraBuscar" value="Pintor">
            <input type="checkbox" class="barraBuscar" name="barraBuscar" value="Limpeza">
        </form>
        
    </main>
</body>
</html>