<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/cliente/perfilCliente.css">

<body>
    <%- include('../partials/header')%>
    <main>
        <section class="titulo-pagina">
            <h1>Perfil do cliente</h1>
            <h3>Informações sobre</h3>
        </section>
        <section class="formulario-geral">
            <form action="perfil/cliente" method="POST">
                <div>
                    Aqui vai uma imagem
                </div>
                <br>
                <div>
                    <label for="nome"></label>
                        <br>
                        <input type="text" name="nome" placeholder="Nome completo">
                    </label>
                </div>
                <div>
                    <label for="cpf"></label>
                        <br>
                        <input type="number" name="cpf" placeholder="CPF">
                </div>
                <div>
                    <label for="email"></label>
                    <br>
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div>
                    <label for="senha"></label>
                    <br>
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <div>
                    <label for="endereco"></label>
                    <br>
                    <input type="text" placeholder="Endereço">
                </div>
                <div>
                    <label for="CEP"></label>
                    <br>
                    <input type="number" placeholder="CEP">
                </div>
                <br>
                <button type="button" class="btn btn-success">Finalizar Cadastro</button>
            </form>
        </section>
        <section class="carrossel">
            <h1>
                Aqui vai o carrossel =)
            </h1>
        </section>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>