<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<body>

    <%- include('../partials/header')%>

    <main>

        <h1> Lista de Serviços aguardando orçamento </h1>

        <section>

            <div class="card" style="width: 18rem;">
                <img src="https://d5y9g7a5.rocketcdn.me/wp-content/uploads/2020/04/girafa-caracteristicas-e-comportamento-da-especie-1.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nome Cliete</h5>
                    <p class="card-text">Preciso que pinte as paredes a seguir, cada parade tem em média de 15m² </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Pintar Sala</li>
                    <li class="list-group-item">Pintar Cozinha</li>
                    <li class="list-group-item">Pintar Banheiro</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link"> Orçamentar </a>
                    <a href="#" class="card-link"> Cancelar Pedido </a>
                </div>
            </div>

        </section>

        <section>

            <div class="card" style="width: 18rem;">
                <img src="https://d5y9g7a5.rocketcdn.me/wp-content/uploads/2020/04/girafa-caracteristicas-e-comportamento-da-especie-1.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nome Cliete</h5>
                    <p class="card-text">Preciso que pinte as paredes a seguir, cada parade tem em média de 15m² </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Pintar Sala</li>
                    <li class="list-group-item">Pintar Cozinha</li>
                    <li class="list-group-item">Pintar Banheiro</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link"> Orçamentar </a>
                    <a href="#" class="card-link"> Cancelar Pedido </a>
                </div>
            </div>

        </section>

    </main>

</body>

</html>