<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/home.css">

<body>

   <main class="home">
      <a href="/login">
         <section class="cliente">
            <img src="" alt="">
            <p>SOU CLIENTE</p>
         </section>
      </a>

      <a href="/login">
         <section class="prestador">
            <img src="" alt="">
            <p>SOU PRESTADOR</p>
         </section>
      </a>
   </main>

</body>

</html>