<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/cardProf.css">
<link rel="stylesheet" href="/css/global.css">

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <main class="listaDeProf">

        <section class="card">

            <article class="info-profile">
                <div class="card-img"> </div> <!-- foto de perfil do profissional -->
                <p class="card-name"> Nome Sobrenome </p>
            </article>
            <article class="service-profile">
                <span> Pintor </span>
                <span> Eletricista </span>
                <span> &#128104 </span>
            </article>
            <p class="card-descrip"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat impedit consequatur aperiam culpa fugiat. Officiis adipisci dicta tempore vel voluptatibus, harum odit optio ipsa sunt laudantium praesentium, perferendis repudiandae! Unde. </p>

        </section>

    </main>    

    <footer>
        <%- include('./partials/footer') %>
    </footer>
    
</body>
</html>