@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
}

.meu-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px;
    border-radius: 35px;
    background-color: white;
}

.meu-form h4 {
    font-weight: 600;
    color: #E8630A;
}

.meu-form h5 {
    font-weight: 600;
    color: #E8630A;
}

@media (min-width: 320px) and (max-width: 767px) {
    .form-geral {
        width: 100%;
    }
}