@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
}

.meu-form {
    background-color: white;
    border-radius: 10px;
}

.meu-form h1{
    font-weight: 600;
    color: #E8630A;
    font-size: 2rem;
}
