@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #EAF6F6;
}

.main-home {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cadastre-se {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
    box-shadow: 0 0 7px #035397;
    border-radius: 20px;
    background-color: white;
}

.cadastre-se h4 {
    font-weight: 600;
    color: #E8630A;
    margin-left: 1rem;
}

.formulario div {

}

.formulario input {
    border:  solid #035397;
    border-radius: 0.7rem;
}

.input::placeholder {
    font-size: 0.9rem;
    font-weight: 800;
    color: gray;
}

.formulario a {
    text-decoration: none;
    color: #FCD900;
    font-weight: 600;
    margin-top: 1rem;
}

.formulario button {
    width: 60%;
}