@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.footer-container {
    font-family: 'Montserrat', sans-serif;
    background-color: #001E6C;
    height: 8rem;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container {
    font-size: 0.8rem;
    margin: 1rem;
    padding: 1px;
    color: #FFA500;
}