@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
}

.footer-container {
    font-family: 'Montserrat', sans-serif;
    background-color: #001E6C;
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-container section {
    justify-content: column;
}

.copyright {
    display: flex;
    justify-content: space-around;
}

.copyrright a {
    text-decoration: none;
}

@media (max-width: 1440px) {
    .footer-container {
        font-size: 100%
    }
}

@media (max-width: 425px) {
    .footer-container {
        font-size: 10%
    }
}
