@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


header {
    font-family: 'Montserrat', sans-serif;
    background-color: #112B3C;
}

.btn-home {
    text-decoration: none;
}

.menu-burguer {
    margin-left: 1rem;
    background-color: #112B3C;
}

span {
    color: #EFEFEF;
    margin-left: 1rem;
}

.form-inline {
    margin-right: 1rem;
}