@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.main-home{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
.main-home h1{
    
    text-align: center;
}
.home {
    margin: auto;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.home a{
    text-decoration: none;
}

.home section {
    height: 350px;
    width: 173px;
    color: black;
    box-shadow: 0 0 1px #035397;
}

.home section div{
    height: 200px;
    width: 173px;
    background-color: #C4C4C4;
}

.home section p{
    text-align: center;
    padding-top: 5vh;
}