@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap%27');

body {
    background-color: #EAF6F6
}

.main-home{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.home {
    margin: auto;
    display: flex;
    width: 90%;
    height: 90vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.home a{
    text-decoration: none;
}

.home section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 35vh;
    box-shadow: 0 0 0.7rem #035397;
    border-radius: 4rem;
    background-color: white;
}

.home section div img{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home span {
    margin-top: 1rem;
    align-items: center;
}

@media (max-width: 1440px) {
    html {
        font-size: 90%
    }
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
    }
}

@media (max-width:480px) {

}