@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #EAF6F6;
}

.main-home {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.login {
    margin: auto;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login h1 {
    
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vh;
    box-shadow: 0 0 7px #035397;
    border-radius: 35px;
    background-color: white;
}

.formulario h1 {
    font-weight: 600;
    color: #E8630A;
    margin-bottom: 2rem;
}

.formulario input {
    border: 0.1rem solid #035397;
    border-radius: 1rem;
}

.input::placeholder {
    font-size: 0.9rem;
    font-weight: 800;
    color: gray;
}

.formulario a {
    text-decoration: none;
    color: #FCD900;
    font-weight: 600;
    margin-top: 1rem;
}

.formulario button {
    width: 30vh;
}