@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: #EEEEEE;
}

.main-home {
    font-family: 'Montserrat', sans-serif;
}

.login {
    margin: auto;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.formulario {
    width: 20%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7px;
    border-radius: 35px;
    background-color: white;
}

.formulario h4 {
    font-weight: 600;
    color: #E8630A;
}

.formulario input {
    border: none;
    border-bottom: solid 0.1px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.formulario a {
    text-decoration: none;
    color: #205375;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.formulario input:focus-visible {
    outline: none;
}

@media (min-width: 320px) and (max-width: 430px) {
    body {
        font-size: 1rem;
    }
    .formulario {
        width: 80%;
        height: 65vh;
    }
}

@media (min-width: 430px) and (max-width: 768px) {
    body {
        font-size: 1rem;
    }
    .formulario {
        width: 40%;
        height: 65vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 1rem;
    }
    .formulario {
        width: 40%;
        height: 65vh;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    body {
        font-size: 1rem;
    }
    .formulario {
        width: 30%;
        height: 65vh;
    }
}