@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}

body {
    padding: 0;
    margin: 0;
    background-color:#EFEFEF;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.main-home {
    width: 100%;
    height: 61vh;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-image: url('/img/about.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size:contain;
    margin: 1rem 0px 1rem 0px;
}

h1 {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #E8630A;
}
.about-container {
    width: 400px;
    margin-right: 100px;
}