<footer class="footer-container">
  <section class="icones">
    
  </section>
  <section class="copyright">
    © 2022 Copyright:
    <a href="https://mdbootstrap.com/">service (+)</a>
  </section>
</footer>