<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/home/footer.css">

<footer class="footer-container text-center text-white">
  <div class="container pt-4">

    <section class="mb-4">

      <a class="btn btn-link btn-floating btn-lg m-1" href="#" role="button" style="color: #EFEFEF" ><i
        class="fab fa-instagram"></i></a>


      <a class="btn btn-link btn-floating btn-lg m-1" href="#" role="button" style="color: #EFEFEF" ><i
        class="fab fa-linkedin"></i></a>

      <a class="btn btn-link btn-floating btn-lg text m-1" href="#" role="button" style="color: #EFEFEF"><i
        class="fab fa-github"></i></a>
    
      </section>
  </div>
  <div class="text-center p-3">
    © 2022 COPYRIGHT:
    <a class="logo"  href="">SERVICE<strong>PLUS</strong></a>
  </div>
</footer>