<header class="header-container">
    <div class="logo-container">
        <h1>
            SERVICE <strong>(+)</strong>
        </h1>
    </div>
    <div class="menu-burger">
        <a href="#"> ☰ </a>
    </div>
</header>