<header class="header-container">
    <div class="logo-container">
       <a href="/"> <h1>
            SERVICE <strong>(+)</strong>
        </h1></a>
    </div>
    <div class="menu-burger">
        
            <details>
                <summary> ☰ </summary>
                <% if(locals.usuario != undefined) { %>
                    <a href="/perfil/cliente/<%= locals.usuario.id %>/editar"> Perfil </a>
                <% } %> 
            </details>

    </div>
</header>