<link rel="stylesheet" href="css/header.css">

<header class="header-container">
       <div class="logo-container">
        <strong>PLUS</strong>
       </div>
       
       <div class="menu-burger">
           <a href="#"> ☰ </a>
       </div>
</header>