<link rel="stylesheet" href="css/home/header.css">

<header class="header-container">
       <div class="logo-container">
        SERVICE <strong>(+)</strong>
       </div>
       
       <div class="menu-burger">
           <a href="#"> ☰ </a>
       </div>
</header>