@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color:#EFEFEF;
    overflow-x: hidden;
    min-height: 100%
}

summary {
    list-style-type: '+';
    margin-left: 2rem;
    width: 12rem;
}

details[open] summary{
    list-style-type: '-';
}
.details-container[open] {
    height: max-content;
    margin-bottom: 1px;
}

.details-container[open] .form-filter-historic {
    z-index: 50;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.details-container:not([open]) { 
    height:10px;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
}

.cards-prof {
    background-color: white;
    width: 15rem;
    height: max-content;
    max-height: max-content;
    margin: 1rem 0.8rem 1rem 0.8rem;
    box-shadow: 0 0 3px #035397;
    border-radius: 40px;
    padding: 0.5rem;
}

.card-img-top {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.card-title {
    font-weight: 600;
    color: #E8630A;
}

.card-subtitle {
    font-weight: 600;
    color: #035397;
}

.card-background {
    background-color: #EFEFEF;
    width: max-content;
    max-width: 100%;
    border-radius: 0.5rem;
    padding: 4px 1rem 4px 1rem;
}

.img-client {
    width: 7rem; 
    height: 7rem; 
    border-radius: 50%;
}

.main-historic {
    display: flex;
    height: 100vh;
    height: auto;
    margin-bottom: 1px;
    background-image: url('/img/historicServices.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.not-service-contain {
    height: 100vh;
    width: 100%;
}

.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.cards { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}