@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color:#EFEFEF;
}

.properties-professional {
    width: 70%;
}
.text-nome {
    font-weight: 600;
    color: #035397;
}

.text {
    font-weight: 600;
    color: #E8630A;
}

.resumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px #035397;
    border-radius: 2rem;
    background-color: white;
}

.imagem img {
    width: 25%;
    max-width: 25%;
    border-radius: 10rem;
}

.text-area {
    padding: 10px;
    box-shadow: 0 0 3px #035397;
}

.description {
    padding: 10px;
    border: 1px solid black;
    text-align: justify;
}

