@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color:#EFEFEF;
}

.properties-professional {
    width: 70%;
}
.text-nome {
    font-weight: 600;
    color: #035397;
}

.text {
    font-weight: 600;
    color: #E8630A;
}

.resumo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px #035397;
    border-radius: 2rem;
    background-color: white;
    padding: 10px;
    margin: 1rem 0 1rem 0;
}

.imagem {
    height: auto;
}

.avatarImg {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.text-area {
    padding: 10px;
    box-shadow: 0 0 3px #035397;
    width: 100%;
    border-radius: 15px;
}

.description {
    padding: 10px;
    border: 1px solid #035397;
    text-align: justify;
    border-radius: 15px;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-budget {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 378px;
    max-width: 378px;
    text-align: center;
}
#dataServico {
    width: 80%;
}