@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EAF6F6;
    font-size: 1rem;
}

.card-body h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #035397;
}

.card-body h6 {
    font-weight: 600;
    color: #E8630A;
}

.resumo {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px #035397;
    border-radius: 2rem;
    background-color: white;
}

.imagem {
    width: 40%;
    max-width: 40%;

}

.imagem img {
    border-radius: 10rem;
}



@media (min-width: 320px) and (max-width: 425px){
    summary {
        font-size: 1rem;
        color: white;
        background-color: #035397;
        list-style-type: '';
        margin: auto;
    }
    
    details[open] summary{
        list-style-type: '';
    }
}

