@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
}

.footer-container {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #112B3C;
    position: relative;
    bottom: 0;
    padding: 0;
}

.text-center a {
    text-decoration: none;
    color: #EFEFEF;
}