@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #112B3C;
}



.menu-burguer {
    margin-left: 1rem;
    background-color: #112B3C;
}

span {
    color: #EFEFEF;
    margin-left: 1rem;
}

.form-inline {
    margin-right: 1rem;
}