@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;

}

summary {
    list-style-type: '+';
    margin-left: 2rem;
}

details[open] summary{
    list-style-type: '-';
}

.title{
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2px;
}

.card {
    width: 20rem;
    height: 30rem;
    box-shadow: 0 0 3px #035397;
    border-radius: 20px;

}

.text-h4 {
    font-weight: 600;
    color: #E8630A;
}

.text-h6 {
    width: 10rem;
    height: 1.5rem;
    background-color: #035397;
    border-radius: 1rem;
    font-weight: 600;
    color: white;
}