@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;

}

summary {
    list-style-type: '+';
    margin-left: 2rem;
}

details[open] summary{
    list-style-type: '-';
}

.title{
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0rem 2rem 0rem;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}