@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEFEF;
}

summary {
    list-style-type: '+';
    margin-left: 2rem;
}

details[open] summary{
    list-style-type: '-';
}

.form-checkbox {
    margin-left: 2rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2px;
}

.card {
    width: 20rem;
    height: 30rem;
    box-shadow: 0 0 3px #035397;
    border-radius: 20px;

}

.card-img-top {
    display: flex;
    align-self: center;
}

.text {
    font-weight: 600;
    color: #E8630A;
}

/* container pb-3 d-flex justify-content-around align-content-around flex-wrap */