@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
body {
    background-color: #EEEE;
}

.main-home {
    background-image: url('/img/backgroundSearchProfess.svg');
    background-repeat: no-repeat;
}

.text-nome {
    font-weight: 600;
    color: #035397;
}

.text {
    font-weight: 600;
    color: #E8630A;
}

.header-contain {
    width: 100%;
    height: 20vh;
}
.main-contain {
    width: 100%;
    height: auto;
    margin: 1px 0px 1px 0px;
}
.sidebar-filter {    
    width: 20%;
    background-color: white;
    opacity: 60%;
    box-shadow: 0 0 5px #035397;
    box-sizing: content-box;
}
.sidebar-slid{
    position:sticky;
    top: 10px;
}
.section-principal {
    width: 80%;
    height: auto;
    min-height: 100vh;
    margin-bottom: 2rem;
}
.cards-prof {
    background-color: white;
    width: 15rem;
    height: max-content;
    margin: 1rem 0.8rem 1rem 0.8rem;
    box-shadow: 0 0 3px #035397;
    border-radius: 40px;
    padding: 0.5rem;
}
.card-img-top {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

