<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/home.css">

<body>

   <%- include('../partials/header')%>

   <main class="main-home">
      <section class="home">

         <a href="/login">
            <section class="cliente">
               <div> <img src="" alt=""> </div>
               <p>SOU CLIENTE</p>
               <button>
                  Buscar um prestador
               </button>
            </section>
         </a>

         <a href="/login">
            <section class="prestador">
               <div> <img src="" alt=""> </div>
               <p>SOU PRESTADOR</p>
               <button>
                  Cadastrar serviço
               </button>
            </section>
         </a>

      </section>

   </main>
   <%- include('../partials/footer')%>
</body>

</html>