<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/home.css">

<body>

   <%- include('../partials/header')%>

   <main class="main-home">
      <section class="home">

         <a href="/login/?usuario=cliente">
            <section>
               <div><img src="/img/imagem-cliente.png" alt="">
               </div>
               <span class="btn btn-info">Área do cliente</span>
            </section>
         </a>

         <a href="/login/?usuario=profissional">
            <section>
               <div>
                  <img src="/img/imagem-prestador.png" alt="">
               </div>
               <span class="btn btn-info">Área do prestador</span>
            </section>
         </a>

      </section>

   </main>
   <%- include('../partials/footer')%>
</body>

</html>

