<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/login.css">

<body>
    <%- include('../partials/header')%>

    <main class="main-home">
        <section class="login">

            <form class="formulario">
                <h1>LOGIN</h1>
                <div>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Seu email">
                </div>
                <br>
                <div>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <br>
                <button type="button" class="btn btn-info">Entrar</button>
                <a href="#">Cadastre-se</a>
            </form>

        </section>
    </main>

    <%- include('../partials/footer')%>

</body>

</html>