<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/sobre.css">

<body>
    <%- include('../partials/header') %>
    <main class="main-home">
        <h1>
            SOBRE NÓS
        </h1>
        <section>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iure esse quibusdam eos molestiae, impedit sequi nisi necessitatibus velit, explicabo optio vel fuga eaque! Error omnis quisquam reiciendis ducimus deserunt!
        </section>
    </main>
    <%- include('../partials/footer') %>

</body>

</html>