<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/sobre.css">

<body>
    <%- include('../partials/header') %>
    <main class="main-home">
        <div class="about-container">
            <h1> ServicePlus </h1>
            <section>
                <p>
                    A ServicePlus nasceu de uma nescessidade dos clientes em encontrar profissionais qualificados e seleciona-los com base nas suas habilidades técnicas.
                </p>
                <p>
                    Somos uma empresa com foco em seguraça e eficiência. Nosso objetivo é fazer com que os profissionais tenham uma autonômia maior e consigam controlar suas agendas de acordo com os serviços solicitados a eles.
                </p>
                <p>
                    Fundada a partir de um projeto integrador da Digital House no ano de 2022. 
                </p>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %>

</body>

</html>