<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/home/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <body>
        <%- include('../partials/header') %>

            <h3>SOBRE NÓS</h3>

            <div class="jumbotron">
                <h1 class="display-4">Entenda quem somos e por que existimos</h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem necessitatibus hic nam
                    cumque maxime, dolor voluptates exercitationem vel commodi nemo iusto sequi aut placeat quaerat.
                    Similique, iure eligendi. Quas, pariatur?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla fugit maxime necessitatibus hic
                    quaerat tempore, accusamus mollitia nam obcaecati cupiditate quod voluptatum aliquam. Maiores
                    consequatur obcaecati illo rerum molestias dolor?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, quo tempora totam soluta
                    repellendus explicabo voluptate quisquam voluptates possimus debitis, architecto quod officia quia
                    tempore illo. Non repudiandae nam quae!
                    lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem, quisquam.
                </p>
                <hr class="my-4">

                <img src="https://www.esab.edu.br/wp-content/uploads/2018/05/post-dia-do-trabalho-1.png" alt="">
            </div>

            <a class="btn btn-primary btn-lg" href="#" role="button">Solicite seu orçamento</a>
            <br><br>

            <div>
                <h4>Nossas redes sociais</h4>
            </div>
            <!-- Só uma imagem -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="https://i.pinimg.com/474x/21/ed/2f/21ed2f62973e345a8c038e1cc852fb3d.jpg" width="50" height="30" alt="">
      <img src="https://i.pinimg.com/originals/70/f9/36/70f936294a1f0f3949a9205df9340d5e.png" width="50" height="30" alt="">
      <img src="https://www.literalmenteuai.com.br/wp-content/uploads/2021/09/png-transparent-youtube-computer-icons-logo-youtube-angle-social-media-share-icon.png" width="50" height="30" alt="">
      <img src="https://w7.pngwing.com/pngs/529/867/png-transparent-computer-icons-logo-twitter-miscellaneous-blue-logo-thumbnail.png" width="50" height="30" alt="">
      
    
    </a>
  </nav>
           
  <%- include('../partials/footer') %>
    
</body>
</html>