<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/home/sobre.css">

<body>
    <%- include('../partials/header') %>
    <main class="main-home">
        <h1>
            SOBRE NÓS
        </h1>
        <section>
            
        </section>
    </main>
    <%- include('../partials/footer') %>

</body>

</html>